* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: 'Amatic SC', cursive;
    background-color: #eee7e3;
}
.main-title{
    margin: 20px;
    margin-top: 30px;
    font-family: "Amatic SC", cursive;
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0;
    color: #e34462;
}
.button-template{
    width: 30%;
    max-width: 125px;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    /* background-color: #FFC72C; */
    background-color: #DFA300;
    color: #FFFFFF;
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;
}
.button-template:last-of-type{
    margin-right: 0px;
}
.button-template::before{
    position: absolute;
    content: "";
    border-top: 5px solid #ffce46;
    border-left: 5px solid #ffce46;
    border-right: 5px solid #ffc013;
    border-bottom: 5px solid #ffc013;
    border-radius: 20px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transition: 0.5s;
}
.button-template:hover{
    box-shadow: 7px 7px #c59100, -7px -7px #ffe292;
    cursor: pointer;
}
.button-template:hover::before {
    border: 0px;
}

@media (min-width: 768px) {
    .main-title{
        font-size: 45px;
        line-height: 45px;
    }
}
@media (min-width: 1024px) {
    .main-title{
        margin-top: 45px;
        font-size: 55px;
        line-height: 60px;
    }
    .button-template{
        width: 30%;
        max-width: 125px;
        font-size: 25px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .button-template:last-of-type{
        margin-right: 0px;
    }
}